body, ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'lato';
}

a{
    text-decoration: none;
}
h2{
    text-align: center;
}

#logo {
    width: 20em;
    display: block;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu > ul{
    display: flex;
    
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    font-size: 1.5rem;
}

.formulario > form{
    display: grid;
    justify-items: center;
}

label{
    display: inline-block;
    text-align: initial;
    width: 90px;
}

form div + div {
    margin-top: 2em;
}

textarea{
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

input, textarea{
    display: flex;
    width: 250px;
    
}

.button{
    text-align: center;
}

button{
    margin-left: .5em;
}

section{
    display: flex;
    background-color: #3EC5E4;
    margin-top: 4em;
    padding: 20px;
    justify-content: space-evenly;
    max-width: 100vw;
}

