

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: white;
}

header {
    padding:0;
    margin: 0;
    height: 15vh;
    background-color: white;
    display:grid;
    grid-template-columns: 1fr;
    width: 100%;
}

nav { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 5vh;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    width: 100%;
}

#logo {
    width: 28rem;
    margin-left: 80px;

}

a {
    color:black;
    text-decoration: none;
    border:none;
    text-align: center;
    font-size: 4vw;
}


.imgsearchbox {
    width: 2vw;
    height: 3vh;
    background-color: #3EC5E4;

}

.searchbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3EC5E4;
    height: 15vh;
}

main{
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
}

.logotipo {
    display: flex;
    
    align-items: center;
}
.Logomain1 {
    width: 30vw;
}

.Logomain2 {
   width: 80vw;
}

footer {
    display: grid;

}

.top {
  
}


.bottom {
    
}